.GenericForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px;
  border-radius: 24px;
  background-color: #323232;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);

  .formTitle {
    text-align: center;
  }

  .dropdownSelect {
    border: none;
    border-radius: 12px;
    background-color: #171717;
    color: #e2e2e2;
    font-size: 16px;
    height: 36px;
    text-align: center;
    padding: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  }

  .formWrapper {
    display: flex;
    gap: 12px;

    .inputsWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;

      .inputSearch {
        border: 2px solid #171717;
        border-radius: 12px;
        background-color: #171717;
        color: #e2e2e2;
        font-size: 16px;
        height: 42px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
      }

      .inputBtn {
        height: 42px;
        padding: 0 20px;
        text-align: center;
        border: none;
        border-radius: 12px;
        background-color: #171717;
        color: #e2e2e2;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
        transition: background-color 0.3s ease-in-out;
      }

      .inputBtn:hover {
        background-color: #db3724;
      }
    }

    .dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;

      ul {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color: #171717;
        border-radius: 12px;
        height: 150px;
        width: 180px;
        overflow-y: auto;
        cursor: pointer;

        &::-webkit-scrollbar {
          width: 12px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #6b6b6b;
          border-radius: 8px;
          height: 40px;
        }
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }

        li {
          width: 100%;
          text-align: center;
          padding: 4px 0 4px 0;
          transition: all 0.3s ease-in;

          &:hover {
            background-color: #6b6b6b;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .GenericForm {
    width: 350px;
    margin-bottom: 24px;
    .formTitle {
      font-size: 1.2rem;
    }
    .formWrapper {
      flex-direction: column;

      .inputsWrapper {
        .inputSearch {
          font-size: 16px;
          height: 50px;
        }

        .inputBtn {
          height: 50px;
          font-size: 16px;
        }
      }

      .dropdown {
        ul {
          height: auto;
          max-height: 300px;
          width: 250px;
        }
      }
    }
  }
}
